<h4>
  <span class="title"><%= link_to article.title, article %></span>
  <small>
    -- Posted 
    <abbr class="timeago" title="<%= article.created_at %>">
      <%= time_tag(article.created_at) %> UTC
    </abbr>
  </small>
</h4>
<div><%= article.content %></div>