<div class="article-content">
  <h4><%= link_to article.title, article %></h4>
  <div><%= article.content %></div>
  <small class="badge badge-success">
    <abbr class="timeago" title="<%= article.created_at %>">
      <%= published_date(article.created_at) %>
    </abbr>
  </small>
</div>