<%= provide(:title, @article.title) %>
<div class="row">
  <div class="span12"><h3 id="art-title"><%= @article.title %></h3></div>
  <div class="span12" id="timestamp">
    <small>Published <%= published_date(@article.created_at) %></small>
  </div>
</div>
<div class="row">
  <div class="span9 offset1 article"><%= @article.content %></div>
</div>
