@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 20px;
}

input, textarea {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  @include box-sizing;
}

input {
  height: auto !important;
}

/* User Pages */
.content {
  margin-right: auto;
  margin-left: auto;
}

.stats {
  font-weight: bold;
}

#profile {
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
  img {
    padding: 4px;
    border: 1px solid #CCC;
  }
  #bio {
    text-decoration: underline;
  }
}

.articles {
  padding-left: 50px;
}

/* Article Pages */
a {
  color: #333;
  &:hover {
    text-decoration: none;
  }
}

#art-title {
  text-align: center;
  margin-bottom: 0;
}

#timestamp {
  text-align: center;
  margin-top: -10px;
}

.article {
  margin-top: 20px;
  padding-left: 50px;
}

/* Footer */
footer {
  border-top: 1px solid #eaeaea;
  margin-top: 45px;
  padding-top: 5px;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      margin-left: 10px;
    }
  }
}

/* Errors */
#error_explanation {
  color: #f00;
  font-size: 12px;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}