<header>
  <div class="container">
    <nav>
      <div class="navbar">
        <div class="navbar-inner">
          <% if signed_in? %>
            <%= render 'layouts/signed_in_menu' %>
          <% else %>
            <ul class="nav">
              <li><%= link_to "Welcome to Blogger", signin_path %></li>
            </ul>
          <% end %>
        </div>  
      </div>
    </nav>
  </div>
</header>